--flat --sys --no-core
--filter
    Windows.Win32.Globalization.WC_COMPOSITECHECK
    Windows.Win32.Globalization.WC_NO_BEST_FIT_CHARS
    Windows.Win32.Globalization.CP_UTF7
    Windows.Win32.Globalization.CP_UTF8
    Windows.Win32.Globalization.WideCharToMultiByte
    Windows.Win32.Globalization.MultiByteToWideChar
    Windows.Win32.Globalization.GetACP
